.hero--section {
  padding: 1rem 0 2rem 0;
  background: #eee;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}
.hero--layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
